body{
    background-color: white;
}

.fallas{

    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-items: center;
    grid-gap: 30px;
    grid-auto-flow: row;

}
img{
    border:1px solid black;
    justify-self: center;
    
    width: 85%;
    height: 88%;
}

form{
    /*text-align: center;*/
    text-align: left;
    font-size:10px;

}


/*h1:nth-child(even){
    background-color: red;
}*/

content{
    display: grid;
    grid-template-columns: 1fr;
    border:1px solid blue;
    border-radius: 6px 6px 6px 6px;
    padding: 10px;
    width: 90%;
    height: 80%;
    background-color: rgba(197, 191, 191, 0.5);
}

h1{
    align-self: flex-start;
    justify-self: center;
    text-align: center;
    font-size:20px;
}

img:hover{
    width: 100%;
    height: 100%;
}

figure{
    background-color: rgba(15, 15, 15, 0.5);
}

input{
    margin:5px;
}

button{
    background-color: blue;
    color:white;
}

input[type="button"]{
    margin-left: 5px;
    height: 28px;
    width: 150px;
    background-color: royalblue;
    border:1px solid black;
}



/*puntuaciones*/
:root {
    --color-inactivo: #5f5050;
    --color-hover: #ffa400;
}
.valoracion {
    margin-top:4px;
    display: flex;
    flex-direction: row-reverse;
}
.valoracion div {
    width: 100%;
    height: 50px;
    margin:1px;
    background-image:url('../estrella.png');
    background-size: contain;
    background-repeat: no-repeat;
    border:0px;
    transition: 1s all;
}
.valoracion div:hover {
    cursor: pointer;
    color: var(--color-hover);
    transform: rotate(360deg);
}
div:nth-child(1):hover ~ div {
    color: var(--color-hover);
    transform: rotate(360deg);
}
div:nth-child(2):hover ~ div {
    color: var(--color-hover);
    transform: rotate(360deg);
}
div:nth-child(3):hover ~ div {
    color: var(--color-hover);
    transform: rotate(360deg);
}
div:nth-child(4):hover ~ div {
    color: var(--color-hover);
    transform: rotate(360deg);
}
div:nth-child(5):hover ~ div {
    color: var(--color-hover);
    transform: rotate(360deg);
}