/*-elemento:nth-child(numero)*/
h2:nth-child(even){
  color:red;
  background-color: black:
}

h2::first-letter{
    color:#b32121;

}

ul{

list-style: none;

}

 ul li:nth-child(odd):hover::after{

   content: "Satán !";

 }

 ul li:nth-child(even):hover::before{

   content: "Alabado sea el Monstruo Espagetti Volador";

 }

ul li:nth-child(3){

  color: #00ff1b;
  
}
