/*
#6e4a3b color de cuadrado sin ver
#d44d2d cuadrado con cofre
#3a65ca color de sarcofago y llave
#1d2c55 pergamino 
#fbfb2b momia
*/

:root{
    background-color: #fbfb2c;
}

header{
    display: grid;
    /*mitad para score mitad para las vidas*/
    grid-template-columns: 2.5fr 2.5fr; 
    justify-items: center;
}

content{
    display: grid;
    /*21columnas*/
    grid-template-columns: repeat(21,1fr); 
    height: 680px;  
    align-self: center;
    justify-self: center;


    /*//quitar
    grid-gap:4px;*/
    
    
}

.men{
    color:Red;
    font-size: 18px;
}

.score{
    color:Red;
    font-size: 18px;
}

.puntuacion{
    display: inline-block;
    color:blue;
    font-size: 18px;
    margin-left:40px;
}

/*

*/

div{
    text-align: center;
}

.divCaja{
    background-color: #6e4a3b;
    color:#6e4a3b;
    user-select: none; 
    
}

.visibleCaja{
    background-color: green;   
}

.divCamino{
    background-color: black;
    color:black;    
    user-select: none; 
}

.momia:before{

        background-image:url(../img/Noggin.png);
        content: "";
        background-size: 40px 46px;
        width: 40px;
        height: 46px;
        position:fixed;
        margin-left: -12px;
        /*bottom: 14px;
        right: 14px;*/

}

.personaje:before{
    background-image:url(../img/yasuoQuieto.png);
    content: "";
    background-size: 60px 60px;
    width: 50px;
    height: 50px;
    position:fixed;
    /*bottom: 14px;
    right: 14px;*/
    transition: 1s;
    margin-left: -25px;
    background-image:url(../img/da5vmuh-27d5aa71-55c5-45aa-affb-334cc8c840f8.gif);




    /*
    la transitiojn funciona sin after
    background-image:url(../img/yasuoQuieto.png);
    
    background-size: cover;
    
    bottom: 14px;
    right: 14px;
    transition: 1s;
    margin-left: -25px;*/

}

.divCaminado{
    background-color:purple;
    color:purple;

}
