/*
#6e4a3b color de cuadrado sin ver
#d44d2d cuadrado con cofre
#3a65ca color de sarcofago y llave
#1d2c55 pergamino 
#fbfb2b momia
*/
article{
    height: 650px;
}

:root{
    background-color: #fbfb2c;
}

header{
    display: grid;
    /*mitad para score mitad para las vidas*/
    grid-template-columns: 2.5fr 2.5fr; 
    height: 7%;
    align-self: center;
    justify-self: center;
}

content{
    display: grid;
    /*21columnas*/
    grid-template-columns: repeat(21,1fr); 
    height: 92%;  
    align-self: center;
    justify-self: center;


    /*//quitar
    grid-gap:4px;*/
    
    
}


.men{
    color:Red;
    font-size: 15px;
}
.vidas{
    display: inline-block;
    color:blue;
    font-size: 15px;
    margin-left:15px;
}

.score{
    color:Red;
    font-size: 15px;
}
.puntuacion{
    display: inline-block;
    color:blue;
    font-size: 15px;
    margin-left:15px;
}

/*

*/

div{
    text-align: center;
    font-size: 0px;
}

.divCaja{
    background-color: #6e4a3b;
    color:#6e4a3b;
    user-select: none; 
    
}

.visibleCaja{
    background-color: green;   
}

.divCamino{
    background-color: black;
    color:black;    
    user-select: none; 
}

.momia:after{

    background-position: center;
    background-image:url(../img/da5vmuh-27d5aa71-55c5-45aa-affb-334cc8c840f8.gif);
    content: "";
    background-size: cover;
    width: 100%;
    overflow: unset;
    height: 200%;
    margin-top: -80%;
    z-index: 4;
    display: block;

/*  momia fized
        background-image:url(../img/Noggin.png);
        content: "";
        background-size: 40px 46px;
        width: 40px;
        height: 46px;
        position:fixed;
        margin-left: -12px;*/

}

.personaje:before{
    
    background-position: center;
    background-image:url(../img/pixel1.png);
    content: "";
    background-size: cover;
    width: 100%;
    overflow: unset;
    height: 200%;
    margin-top: -70%;
    z-index: 6;
    display: block;
   /* display: block;
    background-image:url(../img/pixel1.png);
    content: "";
    background-size:90%;
    overflow:initial;
    background-position: center;
    width: 40px;
    height: 46px;
    

    z-index: 6;*/
    




    /*
    la transitiojn funciona sin after
    background-image:url(../img/yasuoQuieto.png);
    
    background-size: cover;
    
    bottom: 14px;
    right: 14px;
    transition: 1s;
    margin-left: -25px;*/

}

.divCaminado{
   /*
    background-position: center;
    background-image:url(../img/seta1-1.png);
    content: "";
    background-size: cover;
    width: 50%;
    overflow: unset;
    height: 50%;
    z-index: 6;
    display: block;
    margin-left: +25%;
    margin-top: -5%;
*/

    background-image: url(../img/seta1-1.png);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-color:black;

}
