/*
#6e4a3b color de cuadrado sin ver
#d44d2d cuadrado con cofre
#3a65ca color de sarcofago y llave
#1d2c55 pergamino 
#fbfb2b momia
*/

:root{
    background-color: #fbfb2c;
}

header{
    display: grid;
    /*mitad para score mitad para las vidas*/
    grid-template-columns: 2.5fr 2.5fr; 
    justify-items: center;
}

content{
    display: grid;
    /*21columnas*/
    grid-template-columns: repeat(21,1fr); 
    height: 680px;  
    align-self: center;
    justify-self: center;


    /*//quitar
    grid-gap:4px;*/
    
    
}

.men{
    color:Red;
    font-size: 18px;
}

.score{
    color:Red;
    font-size: 18px;
}

.puntuacion{
    display: inline-block;
    color:blue;
    font-size: 18px;
    margin-left:40px;
}

/*

*/

div{
    text-align: center;
}

.divCaja{
    background-color: #6e4a3b;
    color:#6e4a3b;
    user-select: none; 
    
}
.divCamino{
    background-color: black;
    color:black;    
    user-select: none; 
}

.momia{

        background-image:url(../img/Noggin.webp); 
        content: ""; 
        background-size: 30px 30px;
        width: 30px;
        height: 30px;
        position:fixed;
        /*bottom: 14px;
        right: 14px;*/

}
