/*
CSS Base for the Miskatonic Herald
*/

@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

/*
* CSS for body
*/

body{
    display:flex;
    align-items:center;
    justify-content:center;
    height:100vh;
    
    /*background-color:#323232;*/
    background-image:url("https://picsum.photos/1600/900");
    background-repeat: no-repeat;
    font-family: 'OuroborosRegular';
    font-weight: normal;
    font-style: normal;
    margin: 0;
    color:#ffffff;
}


/*
* CSS for items
*/

items{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-template-columns: flex-start;
    background-color: rgba(0, 0, 0,0.7);
    padding: 40px;
    font-size: 20px;
    
    /* 
     * Fragmentos perdidos 
     * ^(;,;)^
     */
    
}

item{
    text-shadow: 5px 5px 5px rgba(87,17,17,1);
    /* 
     * Fragmentos perdidos 
     * ^(;,;)^
     */
}

/*
* CSS for body
*/

button{
    
    border-radius: 12px 12px 12px 12px;
    width: 35%;
    height: 50px;
    background-color: purple;
    background: -webkit-linear-gradient(top, rgba(128,22,199,1) 0%, rgba(171,21,71,1) 68%, rgba(171,21,71,1) 100%);
    margin: 20px;
    margin-bottom: 35px;
    color:#ffffff;
    font-family: 'OuroborosRegular';
    font-size: 26px;
    

    /* 
     * Fragmentos perdidos 
     * ^(;,;)^
     */
}

button:hover {
    
    /* 
     * Fragmentos perdidos 
     * ^(;,;)^
     */
}

button:active {
    
    /* 
     * Fragmentos perdidos 
     * ^(;,;)^
     */
}


/*
* CSS for steps
* - Includes the opacity for the 
*   animation that makes this more
*   dinamyc, but is only a simple
*   GUI.
*/

steps{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    justify-content: center;
    align-items: center;
    height: 500px;
    /* 
    /* 
     * Fragmentos perdidos 
     * ^(;,;)^
     */
}

/*
* CSS for all the steps
* with class (estabaEscondido)
* that turns the element visible
* with a transition.
*/
steps * {
    opacity: 0;
    transition: 0.3s;
    /* 
     * Fragmentos perdidos 
     * ^(;,;)^
     */
}

.estabaEscondido{
   opacity: 1;
   transition:1s;
    /* 
     * Fragmentos perdidos 
     * ^(;,;)^
     */
}


/*Progress*/
/*
* CSS for ProgressBars
*/
progress{
    border-radius: 20px 20px 20px 20px;
    border:8px solid black; 
    
    width: 0;

    /* 
     * Fragmentos perdidos 
     * ^(;,;)^
     */
}

.progressBarra{
    animation-name: neon;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
.barragorda{
    height: 35px;
}

finalmsg{    
    text-shadow: 5px 5px 5px rgba(87,17,17,1);
    color:rgba(102, 0, 0, 1);
    transition: 2s;
    animation-name: parpadeo;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    
    /* 
     * Fragmentos perdidos 
     * ^(;,;)^
     */
}






@keyframes parpadeo {
    
    0%     {color:rgba(102, 0, 0, 1);}
    50%  {color:yellowgreen;}
    0% {color:rgba(102, 0, 0, 1);}

}



@keyframes neon {
    
    0%     {background-color:blue;}

    100.0%  {
        background-color:blue;
        width: 110%;}

    /* 
     * Fragmentos perdidos 
     * ^(;,;)^
     */
}

